<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<add name="sqlcon" connectionString="Server=123.56.129.104;database=TestCloudPlatform;uid=e2eDeveloper;pwd=123123qweqwe!@#)(*;Packet Size=8192;Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--执行频率  毫秒为单位-->
    <add key="TimeNumber" value="60000" />
    <!--每天一次  几点执行-->
    <add key="TimePhase" value="08:00:00" />
    <!--链接字符串-->
    <add key="SqlCon" value="Server=123.56.129.104;database=CloudPlatform;uid=e2eDeveloper;pwd=123123qweqwe!@#)(*;Packet Size=8192;Max Pool Size=1000" />
  </appSettings>
</configuration>