<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="start" value="0" />
    <add key="content" value="【鹅兔鹅】您的[{0}]项目自动派单过程中[{1}]工作任务尚未派送出去！请及时登陆系统分配任务，避免影响项目的正常运转。" />
    <!--链接字符串-->
    <add key="SqlCon" value="Server=123.56.129.104;database=CloudPlatform;uid=e2eDeveloper;pwd=123123qweqwe!@#)(*;Packet Size=8192;Max Pool Size=1000" />
    <add key="TestSqlCon" value="Server=123.56.129.104;database=CloudPlatform;uid=e2eDeveloper;pwd=123123qweqwe!@#)(*;Packet Size=8192;Max Pool Size=1000" />

  </appSettings>
</configuration>